---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">Industrial Cyber-Physical Systems</h1>
  </header>

  <article>
    <!-- Selected icps image -->
    <p style="margin-bottom:24px"></p>
    <h2>
    <div style="text-align: center;">
      <img src="/assets/img/icps_img1.jpg" alt="Image not found." width="80%">
    </div>
    </h2>

    <p style="margin-bottom:24px"></p>
    <h1>Fault Diagnosis and Remaining Useful Life Prediction (Prognostic and Health Management, PHM)</h1>

    <p style="margin-bottom:24px"></p>
    <h2><strong>Machine Learning-based Industrial Big Data Analysis</strong></h2>
    <h5>Intelligent Fault diagnosis</h5>
    <h2>
    <div style="text-align: center;">
      <img src="/assets/img/icps_img10.jpg" alt="Image not found." width="80%">
    </div>
    </h2>

    <h5>Out-of-Distribution Generalization Fault Diagnosis</h5>
    <h2>
    <div style="text-align: center;">
      <img src="/assets/img/icps_img2.jpg" alt="Image not found." width="80%">
    </div>
    </h2>

    <p style="margin-bottom:24px"></p>
    <h2><strong>Data and Knowledge Fusion Theory</strong></h2>
    <h5>Topological Structure Knowledge Fusion for Complex System Fault Diagnosis</h5>
    <h2>
    <div style="text-align: center;">
      <img src="/assets/img/icps_img3.jpg" alt="Image not found." width="80%">
    </div>
    </h2>

    <h5>Causal Inference for Explainable Intelligent Industrial Systems</h5>
    <h2>
    <div style="text-align: center;">
      <img src="/assets/img/icps_img4.jpg" alt="Image not found." width="80%">
    </div>
    </h2>

    <h5>Data and Knowledge Fusion Prognostic and Health Management</h5>
    <h2>
    <div style="text-align: center;">
      <img src="/assets/img/icps_img5.jpg" alt="Image not found." width="80%">
    </div>
    </h2>

    <h5>Dynamic Mechanism Knowledge Fusion for Weak Feature Extraction</h5>
    <h2>
    <div style="text-align: center;">
      <img src="/assets/img/icps_img6.jpg" alt="Image not found." width="80%">
    </div>
    </h2>

    <p style="margin-bottom:24px"></p>
    <h2><strong>Non-stationary Signal Processing</strong></h2>
    <h5>Multi-scale Deep Learning Fault Diagnosis</h5>
    <h2>
    <div style="text-align: center;">
      <img src="/assets/img/icps_img7.jpg" alt="Image not found." width="80%">
    </div>
    </h2>

    <h5>Sparse Representation Fault Diagnosis Theory</h5>
    <h2>
    <div style="text-align: center;">
      <img src="/assets/img/icps_img8.jpg" alt="Image not found." width="80%">
    </div>
    </h2>

    <p style="margin-bottom:24px"></p>
    <h2><strong>Industrial Large Foundation Model</strong></h2>
    <h2>
    <div style="text-align: center;">
      <img src="/assets/img/icps_img9.jpg" alt="Image not found." width="80%">
    </div>
    </h2>

    <!-- Selected projects -->
    <p style="margin-bottom:24px"></p>
    <h2><strong>Projects</strong></h2>
    <ul>
      <li>
        主持 国防基础科研计划重点项目课题 XX系统XX定位、诊断与预测
      </li>
      <li>
        主持 自主创新基金 开放环境增量学习的分层建模方法研究
      </li>
      <li>
        主持 自主创新基金 深海装备动力系统的多粒度故障诊断研究
      </li>
      <li>
        参与 973项目“航空发动机运行安全基础研究”
      </li>
    </ul>

    <!-- Selected honors image -->
    <p style="margin-bottom:24px"></p>
    <h2><strong>Honors</strong></h2>
    <h2>
    <h5>2021 IEEE Outstanding Paper Award for IEEE TII</h5>
    <div style="text-align: center;">
      <img src="/assets/img/icps_honor_img1.jpg" alt="Image not found." width="80%">
    </div>
    <h5>Media Report in IEEE IES News Homepage</h5>
    <div style="text-align: center;">
      <img src="/assets/img/icps_honor_img2.jpg" alt="Image not found." width="80%">
    </div>
    </h2>
  </article>
</div>
