---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">Vision Language Navigation-Action</h1>
  </header>

  <article>
    <!-- Selected vln image -->
    <p style="margin-bottom:24px"></p>
    <h2>
    <div style="text-align: center;">
      <img src="/assets/img/vln_img.jpg" alt="Image not found." width="80%">
    </div>
    </h2>

    <p style="margin-bottom:24px"></p>
    <h2><strong>Representation Learning</strong></h2>
    <h5>Multiple Visual Features in Topological Map</h5>
    <h2>
    <div style="text-align: center;">
      <img src="/assets/img/vln_img2.jpg" alt="Image not found." width="80%">
    </div>
    </h2>

    <p style="margin-bottom:24px"></p>
    <h2><strong>Action Strategy Learning</strong></h2>
    <h5>New Reward Shaping for Visual-Instruction Alignment</h5>
    <h2>
    <div style="text-align: center;">
      <img src="/assets/img/vln_img3.jpg" alt="Image not found." width="80%">
    </div>
    </h2>

    <!-- Selected projects -->
    <p style="margin-bottom:24px"></p>
    <h2>Projects</h2>
    <ul>
      <li>
        主持 国自然青年项目 小样本下动态图网络的鲁棒学习研究
      </li>
      <li>
        主持 天津市应用基础研究项目 知识与数据联合驱动的可解释图神经网络研究
      </li>
      <li>
        主持 CCF-百度松果基金 融合知识的图神经网络计算研究
      </li>
      <li>
        主持 青年人才托举工程 机器学习
      </li>
      <li>
        参与 Deep Intermodal Video Analytics (DIVA) Program (Supported by IARPA via DOI/IBC Department Contract number D17PC00340)
      </li>
    </ul>

    <!-- Selected honors image -->
    <p style="margin-bottom:24px"></p>
    <h2>Honors</h2>
    <h2>
    <div style="text-align: center;">
      <img src="/assets/img/honor_img1.jpg" alt="Image not found." width="80%">
      <img src="/assets/img/honor_img2.jpg" alt="Image not found." width="80%">
    </div>
    </h2>
  </article>
</div>
